ui=true
disable_mlock = true
api_addr = "http://0.0.0.0:8200"
cluster_addr = "0.0.0.0:8201"

storage "file" {
  path = "/tmp/vault-data"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = "true"
}




